<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <section class="content-header">
            <h1>
                {{vm.title}}
                <div class="pull-right">
                    <link-button ng-if="vm.search" state="{{vm.search}}" label="Búsqueda" icon="fa-search"></link-button>
                    <link-button ng-if="vm.newi" state="{{vm.newi}}" label="Nuevo" icon="fa-plus" color="btn-success"></link-button>
                </div>
            </h1>
        </section>
        <section class="content">
            <div class="box box-primary">
                <div class="box-body" ng-transclude>

                </div>
            </div>
        </section>
    </div>
</div>